@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins-Bold.ttf")
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/Poppins-Medium.ttf")
}

body{
  font-family: "Poppins Medium";
  color: white;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header{
  padding: 20px 40px;
  background-color: rgb(77, 7, 117);
}

header nav{
  display: flex;
  justify-content: space-between;
  position: relative;

}



header nav div#nav-menu ul{
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

header nav div#nav-menu li{
  /* display: inline; */
}

main section#landing{
  background-image: url('../images/cover-image.jpg'), linear-gradient(rgba(237, 23, 23, 0.651),rgba(0, 0, 0, 0.65));
  background-blend-mode: overlay;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  /* background-color: rgba(214, 18, 18, 0.6); */
}

main section#landing div {
  width: 60%;
  /* transform: translateY(200px); */
  text-align: center;
  line-height: 6vw;
  
}

main section#landing div h1 {
  
  text-align: center;
  font-size: 5vw;

}

main section#landing div > button{
  padding: 10px;
  background-color:rgb(77, 7, 117);
  border-radius: 10px;
  border: none;
  color:  white;
  

}


main section#form{
  display: flex;
  justify-content: center;
  padding: 20px;

}

form{
  color:rgb(77, 7, 117);
  flex-basis: 60% ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form input{
  border: none;
  border-bottom: 1px solid grey ;
}

form input:focus{
  border-bottom: 2px solid rgb(77, 7, 117);
  outline: none;
  transition: 5 all;
}

form button{
  padding: 10px;
  width: 80px;
}






@media (max-width: 600px){
  header nav div#nav-menu{

      position: absolute;
      top: 50px;
      display: none;
      
  }

  main section#landing div h1 {
  
      font-size: 10vw;
  
  }

  main section#landing div {
      width: 100%;
      padding: 5px;
      /* transform: translateY(200px); */
      text-align: center;
      line-height: 12vw;
      
  }

  main section#landing{
      height: 80vh;
      background-size: cover;
      background-position: bottom;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      
      /* background-color: rgba(214, 18, 18, 0.6); */
  }

  form{
      flex-basis: 90% ;
  }

  form h3{
      text-align: center;
      margin-bottom: 40px;
  }
  
  
  
}